#	/etc/systemd/system/telegram_bot.service

[Unit]
Description=bot for monitoring
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /usr/bot/main.py

[Install]
WantedBy=multi-user.target
