user_bot=root
path_bot=/root/.bot-telegram/echo.py

[Unit]
Description=Debian echo in telegram
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=$user_bot
ExecStart=python3 $path_bot
